<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="PdfRevenueSummary"
	   	class="es.grammata.evaluation.evs.util.PdfRevenueReportView">
	</bean>

	<bean id="studentListingsPdfView" class="es.grammata.evaluation.evs.util.StudentListingsPdfView" />
	<bean id="bankListingsPdfView" class="es.grammata.evaluation.evs.util.BankListingsPdfView" />
	<bean id="generateDocumentsPdfView" class="es.grammata.evaluation.evs.util.GenerateDocumentsPdfView" />

</beans>